.column {
  width: 1024px;
  background-color: #fff549;

}

h2 {
  display: block;
  width: 250px;
  height: 110px;
  background-image: url(../images/fill-14.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  color: #fff;
}
.ui.segment{
  border: none;
}


#petition-page .petition-name{
  text-align: left
}

#petition-page .petition-btn{
  color: #fff549;
  background-color: #000;
  margin-top: 20px;
}
.petition-way{
  text-align: left
}
.radio-text{
  padding-left:5px;
}
.modal{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  justify-content: center;
  align-items: center;
  // visibility:hidden;
}
.modal-content{
  position:absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  background-color: white;
  width:300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  p{
    font-size: 16px;
    color: #fbbd06;
  }
  .model-text{
    padding-top:10px;
  }
  .modal-close{
    position:absolute;
    top: -9px;
    right:-12px;
    cursor: pointer;
  }
}


